body {
    width: 100%;
}

.link {
    /*stroke: #000;*/
    stroke-width: 1.5px;
}

.nhl {
    stroke-width: 1.5px;
    fill: white;
    stroke: #f0cb69;
}

.nfl {
    stroke-width: 1.5px;
    fill: white;
    stroke: #275174;
}

.cfl {
    stroke-width: 1.5px;
    fill: white;
    stroke: #3dbff2;
}

.nba {
    stroke-width: 1.5px;
    fill: white;
    stroke: #60742f;
}

.mlb {
    stroke-width: 1.5px;
    fill: white;
    stroke: #f2671f;
}

.mls {
    stroke-width: 1.5px;
    fill: white;
    stroke: #c2495d;
}